/node_modules
/Components
Exchange Rate Acon.xlsx
Exchange Rate Process- VF 2022.xlsm
Exchange Rate Process- VF.xlsx
Exchange Rate Salog.xlsx
Exchange rate SCA.xlsx
Menu.bat
PaisesFaltantesImplementacion.xlsx
StatusExchangeRate.xlsx
EXCHRATES$.lnk
Exchange rate SCA - Template.psl
OandaRates.xlsx
Oanda_1.jpg
Oanda_2.jpg
Oanda_3.jpg
Oanda_4.jpg
Oanda_5.jpg
Oanda_6.jpg
Oanda_7.jpg
Oanda_8.jpg
Oanda_9.jpg
Oanda_10.jpg
Oanda_11.jpg
Oanda_12.jpg
Oanda_13.jpg
Oanda_14.jpg
Oanda_15.jpg
Oanda_16.jpg
Oanda_17.jpg
BancoPeru.jpg
Components/TestingWork/caso.js
Divisa.jpg
Billete.jpg
