/node_modules
Exchange Rate Acon.xlsx
Exchange Rate Process- VF 2022.xlsm
Exchange Rate Process- VF.xlsx
Exchange rate SCA - Template.psl
Exchange rate SCA.xlsx
EXCHRATES$.lnk
Menu.bat
PaisesFaltantesImplementacion.xlsx
StatusExchangeRate.xlsx


