<!DOCTYPE html>
<html>
<head>
  <title>ExchangeRate</title>
</head>
<body>
  <button id="executeButton">Search ExchangeRate</button>

  <script>
    // Agrega un evento de clic al botón
    document.getElementById('executeButton').addEventListener('click', async () => {
      try {
        await fetch('/getcurrencies');  // Hace una solicitud GET a la ruta /getcurrencies en el servidor
        alert('getCurrencies ejecutado');
      } catch (error) {
        console.error("Error durante la ejecución de getCurrencies:", error);
      }
    });
  </script>
</body>
</html>
